---
import LayoutHtml from "@l/LayoutHtml.astro";
import Menu from "@c/Menu.astro";
import ThemeToggle from "@c/ThemeToggle.astro";
interface Props {
  title: string;
}

const {title} = Astro.props;
---

<LayoutHtml title={title}>
  <Menu />
  <div class="container">
    <slot />
  </div>
  <ThemeToggle />
</LayoutHtml>

<style>
  .container {
    margin-top: calc(var(--block-spacing-vertical) * 5);
  }
</style>
